.navbar-nav .user-menu .dropdown-menu li.user-header {
  height: auto; }

.sidebar {
  padding-bottom: 0; }

#landing {
  padding-top: 0;
  background: #E9D460; }

#headerwrap {
  background: transparent;
  padding: 13%; }
  #headerwrap h1 {
    font-size: 55px; }
    @media (min-width: 768px) {
      #headerwrap h1 {
        font-size: 70px; } }
  #headerwrap h1, #headerwrap h3 {
    color: #222; }
  #headerwrap .btn {
    font-size: 1.5em;
    border-radius: 0; }

/*# sourceMappingURL=app.css.map */
